# Variáveis de Ambiente Base
PORT=
NODE_ENV=

# Variáveis para Construção do Banco de Dados (Docker)
PG_USER=
PG_PASS=
PG_DB=

# Configuração DB (String de conexão para uso local sem Docker)
DATABASE_URL=

# Segurança e Autenticação (JWT)
JWT_SECRET=
ACCESS_TOKEN_EXPIRATION_SECONDS=
REFRESH_TOKEN_EXPIRATION_DAYS=

# Segurança do Painel de Administração
ADMIN_PANEL_HASH=

# Configuração de Email (Nodemailer - Exemplo com Gmail)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=

# API de Verificação de Email
ABSTRACT_API_KEY=
ABSTRACT_API_URL=

# Configuração Redis
REDIS_HOST=
REDIS_PORT=
REDIS_URL=

# URL do Frontend (CORS)
APP_FRONTEND_URL=

# Credenciais Iniciais do Administrador (Para popular no DB via Seed)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Validação e Testes (Não alterar a não ser que vá rodar testes automatizados locais)
VALIDATION_DRY_RUN=
TEST_PG_HOST=
TEST_PG_PORT=
TEST_PG_USER=
TEST_PG_PASS=
TEST_PG_DB=
TEST_REDIS_HOST=
TEST_REDIS_PORT=
