#Variáveis de Ambiente
PORT=
NODE_ENV=

#Configuração DB
DATABASE_URL=

#Configuração de authenticated
JWT_SECRET=
ACCESS_TOKEN_EXPIRATION_SECONDS=
REFRESH_TOKEN_EXPIRATION_DAYS=

#Configuração de Email (Nodemailer)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=

#Verificação do email
ABSTRACT_API_KEY=
ABSTRACT_API_URL=

# Segurança
ADMIN_HMAC_SECRET=

# Configuração Redis
REDIS_HOST=
REDIS_PORT=6379

# Validação e Testes
VALIDATION_DRY_RUN=
TEST_PG_HOST=
TEST_PG_PORT=
TEST_PG_USER=
TEST_PG_PASS=
TEST_PG_DB=
TEST_REDIS_HOST=
TEST_REDIS_PORT=
